<div
  class="flex-col gap-4 w-full flex items-center justify-center {{
    className()
  }}"
>
  <div
    class="{{
      SIZES[size()].outer
    }} border-4 border-transparent text-accent-hover text-4xl animate-spin flex items-center justify-center border-t-accent-hover rounded-full"
  >
    <div
      class="{{
        SIZES[size()].inner
      }} border-4 border-transparent text-accent text-2xl animate-spin flex items-center justify-center border-t-accent rounded-full"
    ></div>
  </div>
</div>
