<nav
  class="fixed top-0 z-30 w-full bg-white border-b border-gray-200 dark:bg-neutral-700 dark:border-neutral-500"
>
  <div class="pl-4 pr-3 py-1">
    <div class="flex justify-between">
      <div class="flex items-center justify-start">
        <button
          type="button"
          (click)="toggleNav()"
          class="p-2 rounded-lg text-font-color hover:bg-neutral-100 dark:text-white/80 dark:hover:bg-neutral-600"
        >
          <svg
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="size-8"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"
            />
          </svg>
        </button>
        <a class="hidden xs:flex pl-6">
          <hotel-logo [title]="false" />
        </a>
      </div>
      <div class="flex items-center">
        <div class="flex items-center gap-4">
          <h2 class="flex">{{ user?.user?.email }}</h2>
          <theme-picker />
        </div>
      </div>
    </div>
  </div>
</nav>
